@import "../components/Disk/Disk";
@import "../components/Disk/Uploader";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #566885;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #E9E6E6;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1140px;
  width: 100%;
  overflow-x: hidden;
}